# 所有的一般可执行文件
/**/*.exe
# VSCode编辑器忽略项
/**/.vscode
/**/workspace.code-workspace
# Clion编辑器忽略项
/**/.idea
# CMake工程忽略项
/**/build
# Ozone调试文件
/**/.jdebug
/**/.jdebug.user
# 程序（通常是构建工具、包管理器或IDE）为了加速后续操作而创建的本地临时存储目录
/**/.cache